<div id="comment_<%= comment.id %>">
  <div style="float: right"><%= link_to_remote image_tag("icons/bin.png", :border => 0, :title => _("Delete")), :url => { :controller => :comment, :action => :destroy, :id => comment } if current_user == comment.user %></div>
  <div class="comment-author"><%= image_tag "users/" + comment.user.small_logo, :class => "user-logo" %> <%= comment.user.display_login %></div>
  <div class="comment-date"><%= comment.created_at.strftime(_("%A, %d/%m/%Y at %H:%M")) %></div>
  <div class="comment-text"><%= h comment.comment %></div>
</div>
