<%= error_messages_for 'referee' %>

<% content_for :main_title do %><%= _("New Referee") %><% end %>

<% form_for :referee, @referee, :url => { :action => :create } do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <%= submit_tag _("Create") %>
<% end %>
