html {
  min-width: 790px;
  min-height: 100%;
}

a {
  color: #963;
}
a:hover {
  color: #C60;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-repeat: repeat-x;
  background-color: #3b3008;
  text-align: center;
}

.container
{
  text-align: left;
  width: 790px;
  padding: 0px;
  background-color: #e3efca;
  margin: 0 auto;
}

.main h1
{
  background-color: #474d0f;
  font-size: 24px;
  color: #ffffff;
  padding: 5px 10px;
}

.main {
  background: url(/images/bg.png) repeat-y;
}

.content
{
  float: left;
  width: 560px;
  margin-top: 10px;
  padding: 10px;
}
.notice
{
  color: red;
  background-color: white;
  width: 100%;
  margin-top: 10px;
  text-align: center;
}

/******* menu : BEGIN *********/
.navigation {
  text-align: center;
  background-color: #abb561;
  color: #e3efca;
  font-size: 18px;
  font-weight: bold;
  line-height: 0.1;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.navigation a
{
	color: #330;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	line-height: normal;
}

.navigation a:hover
{
	color: #e3efca;
}
.navigation span
{
	font-size: 14px;
	font-weight: bold;
}

.nav_side {
  float: left;
  font-weight: bold;
  width: 195px;
  padding-left: 3px;
  padding-right: 5px;
  min-height: 100%;
}
/******* menu : END *********/

/******* Topo : Begin *********/
.header {
	background-color: #8f983b;
	padding: 20px 10px 10px 5px;
}
.header img {
	border: none;
}
/******* Topo : END *********/



/**************** CLASSIFICACAO : Begin ************/
.team_table
{
  font-size: 11px;
  width: 100%;
}

.team_table h3 {
  background-color: #330;
  color: #e3efca;
  font-size: 12px;
  font-weight: bold;
  padding: 2px;
  margin-bottom: 1px;
  width: 100%;
}

.table_head
{
   color: white;
   background-color: darkblue;
}
.table_line
{
   background-color: lightgray;
}
.class_table
{
  width: 100%;
}
.class_table .pos
{
  text-align: left;
}
.class_table .name
{
  width: 40%;
  text-align: left;
}
.class_table td
{
  width: 5%;
  text-align: center;
}
.class_table a:link, a:visited
{
  color: black;
}
.table_line_even
{
   background-color: lightyellow;
}
.table_line_odd
{
	background-color: white;
}
.promoted
   {
   background-color: lightgreen;
   }
.relegated
   {
   background-color: #FFA0A0;
   }
/**************** CLASSIFICACAO : END ************/



#player_info
{
}

.tab_header td
{
background-color: lightgrey;
width: 98px;
margin: 10px 10px 0 0;
text-align: center;
background: lightgrey no-repeat top left;
}

.tab_header td a:link, .tab_header td a:visited
{
//	text-decoration: none;
	color: black;
}

table.full
{
width: 100%;
font-size: 11px;
}

/* Style for the games */
.game_round
{
	font-weight: bold;
	font-size: 16px;
	padding: 3px;
	width: 100%;
	background-color: #bbcc99;
}
.game_date
{
	font-weight: bold;
	font-size: 11px;
	border-bottom: medium solid #ffcc00;
	padding: 1px;
	width: 100%;
}
.game_toplay
{
	position: relative;
	font-weight: bold;
	font-size: 16px;
	padding: 3px;
	width: 100%;
}
.phase
{
	position: relative;
}
.game
{
	position: relative;
}
	.game_inline_date
	{
		width: 15%;
		vertical-align: top;
	}
	.game_score
	{
		width: 100%;
		padding: 0px;
		border-spacing: 0px;
	}
.game_show_score
{
  width: 100%;
}
.game_show_goals
{
  font-size: 12px;
  color: green;
}
.game_show_home_team
{
  width: 50%;
}
.game_show_away_team
{
  width: 50%;
  text-align: right;
}
.game_show_home_score
{
  text-align: right;
  width: 0%;
}
.game_show_away_score
{
  text-align: left;
  width: 0%;
}
.game_show_x
{
  text-align: center;
}

.popupbody
{
  text-align: left;
  padding: 10px;
  font-weight: bold;
  font-size: 12px;
  border: 1px solid #CCFFFF;
  background: #99CCCC;
  color: #FFFFFF;
}

.drop_receiving
{
  border: 2px solid #000000;
}

#graphs
{
  margin-top: 10px;
}

.panel
{
  clear: both;
  display: none;
  background-color: #3e3e3e;
  padding: 5px;
  margin-top: 4px;
}
.panel.active-tab-body
{
  display: block;
}

#tabs a 
{
  font-size: 12px;
  padding: 5px 8px;
  margin-left: 6px;
  background-color: #DCDCDC;
  text-decoration: none;
  color: #999999;
}

#tabs a.active-tab 
{
  background-color: #3e3e3e;
  color: #ccc;
}

#home_goals, #away_goals
{
  width: 100%;
}

.goals
{
  font-size: 12px;
  vertical-align: top;
}

.players {
  font-size: 12px;
  vertical-align: top;
}

DIV.table_row {
  background: none; color: #000000;
  margin-top: 0; margin-right: auto; margin-bottom: 0; margin-left: auto;
  padding: 0; text-align: center; width: 99%;
}
DIV.table_cell {
  border: none;
  min-height: 1px;
  float: left;
  margin: 0;
  padding: 0;
}

.game_time {
  width: 8%;
}
.home_logo {
  width: 4%;
  text-align: center;
}
.home_team {
  width: 27%;
  text-align: left;
}
.home_score {
  width: 4%;
  text-align: right;
}
.game_x {
  width: 4%;
  text-align: center;
}
.away_score {
  width: 4%;
  text-align: left;
}
.away_team {
  width: 27%;
  text-align: right;
}
.away_logo {
  width: 4%;
  text-align: center;
}
.show_info {
  width: 6%;
  text-align: right;
  text-decoration: underline;
  cursor: pointer;
  color: blue;
}
.edit {
}

DIV.clearer {
  clear: both; margin: 0; padding: 0; width: auto;
}

.draggable {
  cursor: move;
}

.draggable:hover {
  border: 2px solid #000000;
}

#home_squad {
  border: 2px solid #e3b2c5;
  padding: 0 0 10px 0;
}
#away_squad {
  border: 2px solid #e3b2c5;
  padding: 0 0 10px 0;
}

.player_attributes {
}
