<% content_for :main_title do %>Stadium Edit<% end %>

<% form_for :stadium, @stadium, :url => { :action => :update, :id => @stadium } do |f| %>
  <%= f.label :name %>: <%= f.text_field :name %><br/>
  Full Name: <%= f.text_field :full_name %><br/>
  City: <%= f.text_field :city %><br/>
  Country: <%= f.select :country, golaberto_options_for_country_select, :include_blank => true %><br/>
  <%= submit_tag _("Update") %>
<% end %>
