<%= error_messages_for 'team' %>
<% form_for :team, @team, :url => { :action => "create" } do |f| %>
  Name: <%= f.text_field :name %><br/>
  Country: <%= f.text_field :country %><br/>
  Logo: <%= f.text_field :logo %><br/>
  <%= submit_tag "Create" %>
<% end %>

