<html>
  <body>
  <h1> <%= image_tag "logos/" + @team.logo.gsub(/(.*)\.svg/, '\1_100.png') %>
    <%= @team.name %></h1>

  <% last_games = @team.last_n_games(5)
     unless last_games.empty? %>
  <h2> Last 5 games</h2>
  <table>
  <% last_games.each do |game| %>
    <tr>
      <td><%= game.home.name %></td><td><%= game.home_score %></td>
      <td>x</td>
      <td><%= game.away_score %></td><td><%= game.away.name %></td>
      <td><%= game.date %></td>
      <td><%= link_to game.phase.championship.name,
                      { :action => "phases",
                        :controller => "championship",
                        :id => game.phase.championship,
                        :phase => game.phase
                      } %></td>
    </tr>
  <% end %>
  </table>
  <% end %>
  <% next_games = @team.next_n_games(5)
     unless next_games.empty? %>
  <h2> Next 5 games</h2>
  <table>
  <% next_games.each do |game| %>
    <tr>
      <td><%= game.home.name %></td>
      <td>x</td>
      <td><%= game.away.name %></td>
      <td><%= game.date %></td>
      <td><%= link_to game.phase.championship.name,
                      { :action => "phases",
                        :controller => "championship",
                        :id => game.phase.championship,
                        :phase => game.phase
                      } %></td>
    </tr>
  <% end %>
  </table>
  <% end %>
  </body>
</html>
