<% content_for :main_title do %><%= _("Listing users") %><% end %>

<div>
  <% @users.each do |user| %>
    <div style="margin: 2px; padding: 2px">
      <div style="float: left"><%= link_to image_tag("users/" + user.small_logo, :class => "user-logo"), :action => :show, :id => user %></div>
      <div class="user-name" style="padding-left: 2px"><%= link_to user.display_name, :action => :show, :id => user %></div>
      <div style="clear: both"></div>
    </div>
  <% end %>
</div>
