<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>GolAberto - <%= yield(:title) || _(controller.controller_name.titleize) %></title>
  <%= stylesheet_link_merged :base %>
  <%= javascript_include_merged :base %>
  <script type="text/javascript" src="http://api.bitp.it/bitp.it.js"></script>
  <script type="text/javascript">
    bitpit({clientId: "2507", forceUIThread: false});
  </script>
  <link rel="shortcut icon" href="<%= image_path "/favicon.ico" %>" type="image/x-icon"/>
</head>

<body>

  <div class='container'>
    <div class='header'>
      <%= link_to image_tag("logo.png", :border => 0), "/" %>
      <div class="navigation" style='position: absolute; top: 0px; right: 0px; background-color: #8f983b;'>
        <%= case Locale.get.language
              when "pt": '<a href="/cookie/set_cookie/en_US">English <img src="/images/flags/gb.png"></a>'
              else '<a href="/cookie/set_cookie/pt_BR">Português <img src="/images/flags/br.png"></a>'
            end %>
      </div>
      <% if logged_in? %>
        <div class="navigation" style="position: absolute; bottom: 0px; right: 0px; background-color: #8f983b; width: 30%">
          <div style="float: left; text-align: right;" class="user-name"><%= link_to current_user.display_name, :controller => :user, :action => :show, :id => current_user %></div>
          <div style="float: right"><%= link_to image_tag("users/" + current_user.small_logo, :class => "user-logo"), :controller => :user, :action => :show, :id => current_user %></div>
        </div>
      <% end %>
    </div>

    <div class='navigation'>
      <%= link_to _("Home"), :controller => :home %> |
      <%= link_to _("Championships"), :controller => :championship %> |
      <%= link_to _("Teams"), :controller => :team %> |
      <%= link_to _("Games"), :controller => :game %> |
      <%= link_to _("Players"), :controller => :player %> |
      <%= link_to _("Stadiums"), :controller => :stadium %> |
      <%= link_to _("Referees"), :controller => :referee %> |
      <% if logged_in? %>
        <%= link_to _("Logout"), :controller => :account, :action => :logout %>
      <% else %>
        <%= link_to _("Login"), :controller => :account, :action => :login %>
      <% end %>
    </div>

    <% if flash[:notice] %>
      <div class='notice'><%= h flash[:notice] %></div>
    <% end %>

    <div class='main'>
      <h1><%= yield :main_title %></h1>
      <div class="content">
        <%= yield %>
      </div>
      <div class="nav_side">
        <%= yield :sidebar %>
      </div>
      <div class='clearer'></div>
    </div>

  </div>
</body>
</html>
