<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>GolAberto - <%= controller.controller_name.titleize %></title>
  <%= stylesheet_link_tag 'main' %>
  <%= stylesheet_link_tag 'calendar' %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'calendar' %>
  <%= javascript_include_tag 'FusionCharts' %>
</head>

<body>

  <div class='container'>
    <div class='header'>
      <%= link_to image_tag("logo.png", :border => 0), "/" %>
    </div>

    <div class='navigation'>
      <%= link_to "Home", :controller => :home %> | 
      <%= link_to "Championships", :controller => :championship %> | 
      <%= link_to "Teams", :controller => :team %> | 
      <%= link_to "Games", :controller => :game %> | 
      <%= link_to "Players", :controller => :player %> |
      <%= link_to "Stadiums", :controller => :stadium %> |
      <%= link_to "Referees", :controller => :referee %> |
      <% if logged_in? %>
        <%= link_to "Logout", :controller => :account, :action => :logout %>
      <% else %>
        <%= link_to "Login", :controller => :account, :action => :login %>
      <% end %>
    </div>

    <% if flash[:notice] %>
      <div class='notice'><%= h flash[:notice] %></div>
    <% end %>

    <div class='main'>
      <h1><%= yield :main_title %></h1>
      <div class="content">
        <%= yield %>
      </div>
      <div class="nav_side">
        <%= yield :sidebar %>
      </div>
      <div class='clearer'></div>
    </div>

  </div>
</body>
</html>
